  @media screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        outline: none;
    }

    body {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 600px;
        overflow-x: hidden;
        z-index: 0;
        background-color: rgba(59, 55, 55, 0.741);
    } 
    header{
    
        position:fixed;
        background: red;
        height: 100px;
        width: 100%;
        z-index:3;
        
    } 
    section{
    position : relative ;
        top:100px ;
        margin-bottom: 120px;
    }
    a{
       text-decoration: none; 
    }
    .logo{
        width:60px;
        border-radius:100px;
        position: relative ;
        left:20px;
        top:20px;
    }
        #menu {
            display: none;
        }
                #menu2 {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    left: 85%;
                    bottom: 30px;
                }
                         nav {
                             display: none;
                         }
                                                   #menu:checked~nav {
                                                    left:49%;
                                                    width: 50%;
                                                    height: 90%;
                                                    border-radius: 10px;
                                                    position: fixed;
                                                        z-index: 1;
                                                       display: block;
                                                       border: 2px groove red;
                                                       background-color: rgba(9, 8, 8, 0.757);
                                                       bottom: 0px;
                                                   }
                                                                                                        #menu:checked~nav ul{
                                                                                                           list-style: none;
                                                                                                            color: red;
                                                                                                            padding: 20px;
                                                                                                            text-align: center;
                                                                                                            font-size: x-large;
                                                                                                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                                                                                                            font-style: italic;
      text-decoration: none;                                                                                                        
                                                                                                        }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                #menu:checked~nav ul li{
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     color:red;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                #menu:checked~nav ul li:hover {
                                                                                                                                                                                                                    color: whitesmoke;                                                                                                                                                                                                                
                                                                                                                                                                                                                    background-color: rgb(107, 3, 197);
                                                                                                                                                                                                                    border-radius: 50px;
                                                                                                                                                                                                                }

    .h1{
        font-size: xx-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        text-align: center;
        color: transparent;
            -webkit-text-stroke: 2.5px blue;
        background: linear-gradient(rgb(254, 9, 9),rgb(255, 234, 8));
    }
    fieldset{
        border-color: black;
        border-style: groove;
    }
    table tr td select{
        height: 50px;
    }
    table tr td input{
        height: 50px;
    }
    .label{
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        font-style: italic;
        color: rgba(20, 3, 72, 0.669);
    }
    select{
        width: 110px;
    }
  .rechercher{
    border-radius: 50px;
    border-color: black;
    background: linear-gradient(rgb(254, 9, 9), rgb(255, 234, 8));
    font-size: x-large;
    position: relative;
    height: 40px;
    width: 200px;
  }
  .div{
    border-radius: 10px;
    border-style: groove;
    text-align: center;
    margin: 10px;
  }
  .div h1{
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-style: italic;
  }
  .div p{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
    color: rgb(6, 57, 3);
  }
  .contact{
  padding-top:20px;
    height: 35px;
    top:20px;
    color: red;
    text-align: center;
    background-color: black;
  }                                                                                                                                                                                                                                                                                                                      
  .WhatsApp{
      width: 40px;
      height: 40px;
      left: 90%;
      position: fixed;
      z-index:3;
  }
  .imgg{
      overflow: hidden;
  }
  .imgv{
   overflow-x: hidden;
  margin: 5px;
  border: 2px groove black ;
      position: relative ;
      width: 95%;
      height: 250px;
      background-image:url("img/v1.jpeg") ;
    background-size: 100% 100%;
      animation : imgve 30s Infinite ;
  }
  @keyframes imgve{
      0%{
          background-image:url("img/v1.jpeg") ;
      }
      30%{
          background-image:url("img/v2.jpg") ;
      }
      60%{
          background-image:url("img/v3.png") ;
      }
      85%{
          background-image:url("img/v4.jpg") ;
      }
      100%{
          background-image:url("img/v5.jpg") ;
      }
  }
   footer{
      background-color: black;
      border:2px groove ;
  }
  footer p{
      color:#ffffff;
      text-align: center;
  }
  footer .p2{
      position:relative;
      font-size:10px;
      left:2%;
      top:1px;
    
  }
  footer img{
      width:20px ;
      height: 20px;
      position: relative ;
      left:40%;
     margin-left:5px ;
     display: inline;
  }
  .voiture{
         width:300px;
      height: 150px;
      border:2px groove;
      border-radius:10px;
  }
  .photo{
  width: 100%;
      height: 300px;
      border-bottom:3px solid red;
  }
  .titre{
      position: absolute;
      left:120px;
      top:180px;
      color:rgb(136, 243, 13);
      z-index:2;
  }
  #pg1{
      display:none;
  }
  #pg2{
      display:none;
  }
  .pg1{
      display:none;
  }
  .pg2{
      display:none
  }
  #pg1:checked~.pg1{
      display:block;
  }
  #pg2:checked~.pg2{
      display:block;
  }
  #pg1:checked~#pg11{
      color:red;
  }
  #pg2:checked~#pg22{
      color:red;
  }
  .boutt{
  position : relative ;
      color:white;
      font-size:large;
      margin: 20px;
      top:50px;
      
  }
  .border{
      position: relative ;
      top:100px;
      border-bottom:4px solid red;
  }
  .pg1 h1{
      position: relative ;
      top:150px;
      color:blue;
      font-size:x-large;
      width: 90%;
  }
   .pg1 p{
   width: 80%;
      position: relative ;
      top:200px;
      color:white;
      font-size:medium;
  }
  .pg2 h1{
      position: relative ;
      top:150px;
      color:blue;
      font-size:x-large;
      width: 90%;
  }
   .pg2 p{
   width: 80%;
      position: relative ;
      top:200px;
      color:white;
      font-size:medium;
  }
  .nos{
      position:relative;
      left:33%;
      padding-top:10px ;
      background-color: red;
      color:white;
      width: 140px;
      height: 30px;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align:center;
      border-radius:20px;
      text-decoration: none;
      
  }
  .imgp{width: 90%;
  height: 200px;
  padding: 20px;
  
  }
  .pr{
     width:80%; 
     font-size:large;
     color:white;
  }
  .h11{
      color:blue;
      border:1px groove black;
      border-radius:10px;
      background: #ffdd80;
      height: 50px;
      width: 70%;
      margin: 20px;
      
  }
  .lo-min{
  margin: 10px;
      width: 50px;
      height: 50px;
      border:1px solid black;
      border-radius:100px;
  }
           .fieldset {
               border-color: rgb(106, 2, 24);
               border-radius: 50px;
               width: 55%;
           }
    
           .legend {
               color: dodgerblue;
               font-size: x-large;
               font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
               font-style: italic;
           }
    
           .vt {
               position: relative;
               z-index: 2;
               bottom: 70%;
               left: 40%;
               width: 20px;
               height: 20px;
               border-radius: 50%;
               border-color: red;
               border-style: groove;
               animation: logoo 5s infinite;
           }
    
           @keyframes logoo {
               25% {
                   opacity: .1;
    
               }
    
               50% {
                   opacity: .25;
               }
    
               75% {
                   opacity: .50;
               }
    
               100% {
                   opacity: 1;
               }
    
           }
                   .welcom {
                       position: relative;
                       font-size: 50px;
                       font-family: Avantgarde,
                           TeX Gyre Adventor,
                           URW Gothic L sans-serif;
                       font-style: oblique;
                       color: transparent;
                       -webkit-text-stroke: 1px rgba(255, 0, 0, 0.463);
                       background: url(img/back.jpg);
                       -webkit-background-clip: text;
                       background-position: 0 0;
                       animation: back 20s linear infinite;
                       border-bottom: red 2px solid;
                   }
        
                   @keyframes back {
                       100% {
                           background-position: 2000px 0;
                       }
                   }
                                        .reservez {
                                            color:black;
                                            width: 200px;
                                            text-align: center;
                                            border-radius: 10px 50px 10px 50px;
                                            border-style: groove;
                                            border-color: black;
                                            text-decoration: none;
                                            height: 30px;
                                        animation: res 4s infinite;
                                        }
                                        
                                        @keyframes res {
                                            0% {
                                                background-color: rgba(255, 0, 0, 0.383);
                                            }
                                        
                                            25% {
                                                background-color: rgba(52, 86, 222, 0.512);
                                            }
                                        
                                            50% {
                                                background-color: rgba(255, 208, 0, 0.442);
                                            }
                                        
                                            75% {
                                                background-color: rgba(0, 255, 81, 0.635);
                                            }
                                        
                                            100% {
                                                background-color: rgba(208, 0, 255, 0.475);
                                            }
                                        
                                        }
                                                                                .nb {
                                                                                    color: rgb(14, 100, 198);
                                                                                    font-style: italic;
                                                                                    font-family: Avantgarde,
                                                                                        TeX Gyre Adventor,
                                                                                        URW Gothic L sans-serif;
                                                                                }
}
